doctype html
html(lang="en")
    head
        title cool messenger
        meta(charset="UTF-8")
        link(href="./../../../src/components/button-back/button-back.less" rel="stylesheet")
        link(href="./../error.less" rel="stylesheet")
        link(href = "./../../static/icon messenger.png" rel="icon" type="image/png")
    body