doctype html
html(lang="en")
    head
        title cool messenger
        meta(charset="UTF-8")
        link(href="../../../src/components/button__back/button__back.css" rel="stylesheet")
        link(href="../error.css" rel="stylesheet")
        link(href = "../../static/icon messenger.png" rel="icon" type="image/png")
    body