doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        link(href="../components/button__back/button__back.less" rel="stylesheet")
        link(href="../components/sign_smt_form/sign_smt_form.less" rel="stylesheet")
        link(href="new-password.less" rel="stylesheet")
    body
        include ../components/button__back/button__back
        div(class="container")
            img(src="../static/ava.png" alt="аватар")
            form(class="max-height-form-password")
                div
                    label(for="oldPassword") старый пароль
                    input(name="oldPassword", type="password", id="oldPassword", placeholder="old password")
                div
                    label(for="newPassword") новый пароль
                    input(name="newPassword", type="password", id="newPassword", placeholder="new password")
                div(class="column-group")
                    button(class="prime") Сохранить новый пароль
