div
    != btnBack
    div(class="inner-profile")
        div(class="center")
            != inputLogin
            != inputShortName
            != inputFullName
            != inputEmail
            != inputPhone

        div(class="center")
            img(src=urlIm alt="аватар")
            // "../static/ava.png"
            div(class="margin")
                p #{shortName}, #{fullName}
                p #{login}
            a(class="blue" onclick="window.renderPage('changeProfile')") изменить данные профиля
            a(class="blue" onclick="window.renderPage('changePassword')") изменить пароль
            a(class="red" onclick="window.renderPage('error-500')") выйти