doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        link(href="../components/button-back/button-back.less" rel="stylesheet")
        link(href="../components/sign-smt-form/sign-smt-form.less" rel="stylesheet")
    body
        div(class="container_form")
            form
                h2 Sign in
                div
                    div
                        label(for="login") логин
                        input(name="login", type="text", id="login", placeholder="login here")
                    div
                        label(for="pass") пароль
                        input(name="password", type="password", id="pass" placeholder="password here")
                div(class="column-group")
                    button(class="prime") Enter
                    button(class="secundus") Sign up
        include ../components/button-back/button-back