div(id="content")
    div(class="container_form")
        form
            h1 Sign in
            div
                != loginInput
                != passwordInput
            div(class="column-group")
                != submitBtn
                button(class="secundus" type="button" onclick="window.renderPage('sign up')") Sign up
    != buttonBack