doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        link(href="../../../src/components/button__back/button__back.css" rel="stylesheet")
        link(href="error.css" rel="stylesheet")
    body
        include ../components/button__back/button__back
        div(class="inside")
            p(class="line1") упс
            h1(class="line")  Ошибка 505
            p(class="line2") мы уже работаем над этим!
            a(class="line3" href="index.html") назад к чатам

