doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        link(href="../components/button-back/button-back.less" rel="stylesheet")
        link(href="error.less" rel="stylesheet")
    body
        include ../components/button-back/button-back
        div(class="error-inside-block")
            p(class="line-error-oops") упс
            h1(class="line-error-404")  Ошибка 404
            p(class="line-error-wrong-place") не туда зашли
            a(class="line-error-back-to-chats" href='../index.pug') назад к чатам

