@blue: #3369F3;

.font-sizer(@size){
  text-align: center;
  font-family: normal, sans-serif;
  font-size: @size;
}

.line-error-oops{
  .font-sizer(48px);
}

.line-error-wrong-place{
  .font-sizer(36px);
}

.line-error-back-to-chats{
  .font-sizer(24px);
  color: @blue;
  text-decoration: none;
}

h1.line-error-404{
  .font-sizer(80px);
}

div.error-inside-block{
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
