div.main_page
    div(class="user-nav")
        div(class="user-bar")
            a(class="tools" onclick="window.renderPage('profilePage')") Настройки пользователя
            input(class="search_contact" placeholder="поиск чата🔍")
        for chat in chatList
            != chat
    //!= dialogBox
    //if isDialog
    != dialogField
    //else
    //    p(class="start-talk") выберите чат и начните переписку!
    //    div(class="flagClass")